<div class="row" style="position:relative; margin-bottom:50px;">
    <div class="col-xs-10 col-xs-offset-1">
        <div class="jumbotron con">
            <h4><span class="mark bg-success">/PatientsDemo</span></h4>

            <h5>This method returns all list of patients together with the following information: </h5>
            <br /><br />
            <table class="table table-hover table-striped">

                <tr><td>Fields</td><td></td></tr>

                <tr>
                    <td>person_id</td>
                    <td>A globally unique identifier of each person. This is the same with patient_id.</td>
                </tr>
                <tr>
                    <td>display_name_e</td>
                    <td>Patient's Name.</td>
                <tr>
                    <td>sex_rcd</td>
                    <td>Patient's Gender.</td>
                </tr>
                <tr>
                    <td>date_of_birth</td>
                    <td>Patient's Birthday.</td>
                </tr>
                <tr>
                    <td>nationality_rcd</td>
                    <td>Patient's Nationality.</td>
                </tr>
            </table>
            <br />
            <h5><strong>Example Result</strong></h5>
            <img src="../../Content/getAll.PNG" />
            <br />
            <br />
            <hr />
            <br />
            <br />
            <h4><span class="mark bg-success">/PatientsDemo/{person_id}</span></h4>

            <h5>This method returns a single patient based on the id together with the following information: </h5>
            <br /><br />
            <table class="table table-hover table-striped">

                <tr><td>Fields</td><td></td></tr>

                <tr>
                    <td>person_id</td>
                    <td>A globally unique identifier of each person. This is the same with patient_id.</td>
                </tr>
                <tr>
                    <td>display_name_e</td>
                    <td>Patient's Name.</td>
                <tr>
                    <td>sex_rcd</td>
                    <td>Patient's Gender.</td>
                </tr>
                <tr>
                    <td>date_of_birth</td>
                    <td>Patient's Birthday.</td>
                </tr>
                <tr>
                    <td>nationality_rcd</td>
                    <td>Patient's Nationality.</td>
                </tr>
            </table>
            <br />
            <h5><strong>Example Result</strong></h5>
            <img src="../../Content/getSpecific.PNG" />
            <br />
            <br />
            <hr />
            <br />
            <br />
            <h4><span class="mark bg-success">/PatientsDemo/Filter?offset=0&limit=0</span></h4>
            <br />
            <h5><b>Parameters</b></h5>
            <h5><i><span class="mark bg-success">offset</span></i> - the number of records you want to skip.</h5>
            <h5><i><span class="mark bg-success">limit</span></i> - the number of records you want to display.</h5>
            <br />
            <h5>This method returns all list of patients together with the following information: </h5>
            <br /><br />
            <table class="table table-hover table-striped">

                <tr><td>Fields</td><td></td></tr>

                <tr>
                    <td>person_id</td>
                    <td>A globally unique identifier of each person. This is the same with patient_id.</td>
                </tr>
                <tr>
                    <td>display_name_e</td>
                    <td>Patient's Name.</td>
                <tr>
                    <td>sex_rcd</td>
                    <td>Patient's Gender.</td>
                </tr>
                <tr>
                    <td>date_of_birth</td>
                    <td>Patient's Birthday.</td>
                </tr>
                <tr>
                    <td>nationality_rcd</td>
                    <td>Patient's Nationality.</td>
                </tr>
                <tr>
                    <td>Total</td>
                    <td>Total number of records.</td>
                </tr>
                <tr>
                    <td>Limit</td>
                    <td>The limit of number of records set in the parameter.</td>
                </tr>
                <tr>
                    <td>Offset</td>
                    <td>The offset set in the parameter.</td>
                </tr>
                <tr>
                    <td>Returned</td>
                    <td>The number of records that's actually returned.</td>
                </tr>
            </table>
            <br />
            <h5><strong>Example Result</strong></h5>
            <img src="../../Content/getwithPaging.PNG" />
            <br />

        </div>
        <div class="circle_con">
            <h3 style="font-family:'Roboto';color:white; text-align:center;">GET</h3>
        </div>
    </div>
</div>